[submodule "Unity"]
	path = Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "CMock"]
	path = CMock
	url = https://github.com/ThrowTheSwitch/CMock.git
[submodule "CException"]
	path = CException
	url = https://github.com/ThrowTheSwitch/CException.git
